.section {
    position: relative;
    width: 100%;
    height: 92vh;
    margin-top: 8vh;
    text-align: center;
}

.section p {
    color: black;
}

.img_box {
    width: 100%;
    height: 100%;
}

.img {
    margin: auto;
    width: 50%;
    border-radius: 100%;
}
