.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    width: 100%;
    padding: 0 0px;
    margin: auto;
    background-color: var(--bg);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}
  
.header_menu {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.header_menu_icon {
    display: block;
    font-size: 28px;
    margin-right: 30px;
    color: var(--textNormal);;
    cursor: pointer;
    width: 40px;
    height: 40px;
    
} 
  
.header_links {
    list-style: none;
    margin: auto;
    padding: 0;
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
    width: 200px;
    top: 65px;
    right: 0;
    margin-top: 20px;
    transition: all 0.5s ease;
    background-color: var(--bg);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 5px 0;
    border-radius: 20px;
}

.header_links li {
    width: 90%;
    margin: 5px 0;
}
  
.header_links li a {
    display: block;
    width: 100%;
    text-align: center;
    padding: 20px;
    color: var(--textNormal);;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-radius: 50px;
}
  
.header_links li a:hover {
    background-color: var(--navLink);
}
  
.header_links li button {
    display: block;
    width: 100%;
    text-align: center;
    padding: 20px;
    color: var(--textNormal);;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-radius: 50px;
}
  
.header_links li button:hover {
    background-color: var(--navLink);
}

.header_links_icon {
    display: inline-block;
    margin-bottom: 4px;
    margin-right: 2px;
    width: 20px;
    height: 20px;
}

.header_links_open {
    display: flex;
}

.header_text {
    cursor: pointer;
}


  